certifi==2026.5.20
charset-normalizer==3.4.7
googleapis-common-protos==1.75.0
grpcio==1.81.0
idna==3.17
opentelemetry-api==1.42.1
opentelemetry-exporter-otlp==1.42.1
opentelemetry-exporter-otlp-proto-common==1.42.1
opentelemetry-exporter-otlp-proto-grpc==1.42.1
opentelemetry-exporter-otlp-proto-http==1.42.1
opentelemetry-proto==1.42.1
opentelemetry-sdk==1.42.1
opentelemetry-semantic-conventions==0.63b1
protobuf==6.33.6
requests==2.34.2
typing_extensions==4.15.0
urllib3==2.7.0
